* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

html {
    min-width: 100vw;
}

html,
body {
  height: 100vh;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

header {
    background-color: #E87B56;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    width: 90%;
    max-width: 1280px;
    
    margin: auto;
  }
  
  header nav ul {
    display: flex;
  }
  
  header nav ul li {
    list-style: none;

  }
  
  header nav ul li a {
    display: flex;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font: 1.8rem Arial;
    padding: 2.4rem;
    transition: all 250ms linear 0s;
  }
  header nav ul li a span{
    margin: auto 3px;
  }

.container-header {
    display: flex;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    justify-content: space-between;
    padding: 0 20px;
}
.logo-header {
    width: 150px;
    margin-left: 20px;
    padding: 10px 0;
}

.container-navigate-links {
    display: flex;
    height: 100%;
    margin: auto 0;
}

.container-navigate-links a{
    display: flex;
    align-content: center;
    text-decoration: none;
    color: white;
    font: 2rem Arial;
    padding: 10px 10px;
    transition-delay: .4;
}

.container-navigate-links span {
    margin: auto 2px;
}

header nav ul li a:hover {
    background-color: white;
    color: #E87B56;
    height: 100%;
    font-size: 2.2rem;
    padding: 7px 15px;
    border-radius: 7px;
    transition: all .3s;
}

.bg-paralax {
    height: 70vh;
    background: url(../images/teste-bg.png);
    /*background-image: url(../images/background-food1.png);*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.container-menu {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 100px 0;
    justify-content: center;
}

.container-menu > h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #944f38;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
}

.ul-card{
    display: flex;
    flex-wrap: wrap;
    max-width: 1280px;
    justify-content: center;
    margin: 0 auto;
}

.li-card{
    width: 350px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 10px 30px;
    padding: 20px 5px;
    background-color: #E87B56;
    border-radius: 10px;
    color: white;
}

.container-card  img{
    height: 100px;
}

.container-card  h3{
   font-size: 1.8rem;
}

.container-card  p{
    font-size: 1.5rem;
}


.photos-and-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: #E87B56;
    padding: 50px 0;
}

.galery-images {
    display: flex;
    width: 90%;
    max-width: 1280px;
    flex-direction: column;
    margin: auto;
    text-align: justify;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.galery-images h2 {
    margin-bottom: 10px;
    font-size: 2.5rem;
}

.container-img-arrows {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.container-img-arrows p{
    margin-top: 15px;
    font-size: 2rem;
}

.img-carousel {
    width: 500px;
    border-radius: 10px;
    margin-right: 20px;
    object-fit: cover;
    box-shadow: rgba(66, 66, 66, 0.5) 6px 6px 6px;
}

.photos-and-description h2 {
    text-align: center;
}

.class-maps {
    height: 60%;
    width: 95%;
    max-width: 1280px;
    margin: 80px auto;
    margin-top: 10px;
    border-radius: 10px;
}

.location-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: #5F6368;
    font-size: 1.5rem;
}    

footer{
    height: 250px;
    width: 100%;
    background-color: #944f38;
    display: grid;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
}

footer h3 {
    color: white;
    font-size: 2.0rem;
}

@media (max-width: 1024px) {
    .img-carousel {
        width: 300px;
    }
}

@media (max-width: 768px) {
    nav {
        display: none;
    }

    .one,
    .two,
    .three {
        background-color: #fff;
        height: 5px;
        width: 100%;
        margin: 6px auto;

        transition-duration: 0.4s;
    }

    .menu-toggle {
        width: 40px;
        height: 30px;
        margin-right: 20px;
    }

    /* fullscreen */
    .menu-section.on {
        position: absolute;
        top:0;
        left:0;
        
        width: 100vw;
        height: 100vh;

        background-color: #E87B56;
        
        z-index: 10;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu-section.on nav {
        display: block;
    }

    .menu-section.on .menu-toggle {
        position: absolute;
        right: 25px;
        top: 15px;
    }

    .menu-section.on .menu-toggle .one {
        transform: rotate(45deg) translate(7px, 7px);
    }

    .menu-section.on .menu-toggle .two {
        opacity: 0;
    }

    .menu-section.on .menu-toggle .three {
        transform: rotate(-45deg) translate(8px, -9px);
    }

    .menu-section.on nav ul {
        text-align: center;
        display: block;
    }

    .menu-section.on nav ul a{
        transition-duration: 0.5s;
        font-size: 3rem;
        line-height: 4rem;
        display: block;   
    }

    .container-img-arrows{
        flex-direction: column;
    }

    .img-carousel {
        width: 350px;
        margin: 0 auto;
    }

    .container-img-arrows p{
        font-size: 1.6rem;
    }

    #link-map, #link-contato {
        display: none;
    }
}

@media (max-width: 401px) {
    .li-card{
        width: 95%;
        margin: 10px 0px;
    }
    .galery-images {
        margin: 0px;
        margin: auto auto;
    }
    .img-carousel{
        box-shadow: none;
        width: 325px;
    }
}

@media (max-width: 355px) {
    .img-carousel {
        width: 280px;
    }
}
